<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.KM.boxnif.dia"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Modul_1">
        </activity>
        <activity android:name=".Modul_2">
        </activity>
        <activity android:name=".Modul_3">
        </activity>
        <activity android:name=".Modul_4">
        </activity>
        <activity android:name=".Modul_6">
        </activity>
        <activity android:name=".Modul_Auswertung">
        </activity>
        <activity
            android:name=".Info_Text"
            android:theme="@style/AppTheme.PopUp">
        </activity>
        <activity android:name=".PatientenInfo">
        </activity>
        <activity android:name=".Modul_5">
        </activity>
        <activity android:name=".Modul_1k">
        </activity>
        <activity android:name=".Modul_4k">
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity android:name=".Registrierung">
        </activity>
        <activity android:name=".Lizenz">
        </activity>
        <activity android:name=".Anfragen.DatenLaden">
        </activity>
        <activity android:name=".AuswertungsAbfrage">
        </activity>
        <activity android:name=".PasswordVergessen">
        </activity>
    </application>

</manifest>